/* colours: light blue:#addaf6; blue:#70b2db; dark blue:#1638c3 */
/* colours p2: Alt light blue:#bee3fa ; Alt blue: ; Alt dark blue: #4a6aec */

/* nav bar !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.navbar{
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1% 0%;
}
.navbar{
    background-color: #70b2db;
}
.navbar a{
    padding: 2% 1%;
}
.navbar a.active{
    display: block;
    text-align: start;
    background-color: transparent;
}
.navbar a{
    color: #1638c3;
    font-style: normal;
    text-decoration: none;
    background-color: #addaf6;
    padding: 1% 2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}
.navbar a:hover{
    color: #4a6aec;
    font-style: normal;
    text-decoration: none;
    background-color: #bee3fa;
    padding: 1.2% 2.2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}
.navbar img{
    width: 10%;
    background-color: #70b2db;
    border-radius: 100px;
}
.navbar a.active:hover{
    display: block;
    text-align: start;
    background-color: transparent;
    padding: 1% 2%;
}

/* titles !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
h1{
    display: flex;
    justify-content: start;
}
h1{
    margin-left: 8%;
    font-family:  'Trebuchet MS', sans-serif;
}
h1 i{
    margin-left: 20px;
    margin-right: 20px;
}
h2{
    margin-left: 8%;
    font-family:  'Trebuchet MS', sans-serif;
    font-size: 30px;
}
h2 i{
    color: #1638c3;
    font-style: normal;
    font-family:  'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

/* home page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* organising placements of two halves of the page */
.part_1_home{
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 75px;
}
.part_2_home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-right: 4%;
    margin-left: 4%;
}
/* title */
.title_home{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 180%;
}
/* image width */
.image_home{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 300%;
    height: 300%;
}
/* miniature navigation bar on page with short descriptions */
.mini_nav_past{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 25%;
}
.mini_nav_current{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}
.mini_nav_misc{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 25%;
}
/* image size */
.image_home img{
    width: 60%;
}
/* headings */
.title_home h1{
    font-size: 40px;
    color: black;
}
.title_home h1 i{
    font-size: 100px;
    color: #1638c3;
    font-style: normal;
}
.title_home h2{
    font-size: x-large;
    color: #1638c3;
}
/* text */
.title_home p{
    font-size: large;
    width: 110%;
    margin-left: 8%;
    margin-bottom: 20px;
}
.title_home{
    margin-bottom: 80px;
}
/* miniature navigation bar on page with short descriptions */
.mini_nav_current a{
    color: #1638c3;
    font-style: normal;
    text-decoration: none;
    background-color: #addaf6;
    padding: 1% 2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}
.mini_nav_current a:hover{
    color: #4a6aec;
    font-style: normal;
    text-decoration: none;
    background-color: #bee3fa;
    padding: 1.2% 2.2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}
.mini_nav_misc a{
    color: #1638c3;
    font-style: normal;
    text-decoration: none;
    background-color: #addaf6;
    padding: 1% 2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}
.mini_nav_misc a:hover{
    color: #4a6aec;
    font-style: normal;
    text-decoration: none;
    background-color: #bee3fa;
    padding: 1.2% 2.2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}
.mini_nav_past a{
    color: #1638c3;
    font-style: normal;
    text-decoration: none;
    background-color: #addaf6;
    padding: 1% 2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}
.mini_nav_past a:hover{
    color: #4a6aec;
    font-style: normal;
    text-decoration: none;
    background-color: #bee3fa;
    padding: 1.2% 2.2%;
    border-radius: 25px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', sans-serif;
}

/* past models page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* display of content and image topics */
.dalton_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.dalton_text{
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 90%;
}
.thomson_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.thomson_text{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.rutherford_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.rutherford_text{
    display: flex;
    flex-direction: column;
    align-self: start;
}
/* subheading colours */
.dalton h2{
    color: #1638c3;
}
.thomson h2{
    color: #1638c3;
}
.rutherford h2{
    color: #1638c3;
}
.rutherford_scattering_experiment h2{
    color: #1638c3;
}
/* image sizeing */
.dalton_content img{
    width: 15%;
}
.thomson_content img{
    width: 15%;
}
.rutherford_content img{
    width: 15%;
}
/* title colours */
.title_past h1{
    font-size: 60px;
}
.title_past h1 i{
    color: #1638c3;
    font-style: normal;
}
/* list width and font */
.dalton_text li{
    width: 80%;
    margin: auto;
    font-size: x-large;
    font-family: 'Gill Sans MT', sans-serif;
}

/* current model page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* organising placements of the two halves of the page */
.part_1_current{
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 75px;
    margin-top: 75px;
}
.part_2_current{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 4%;
    margin-left: 4%;
    align-items: start;
}
/* particle div sizes and placements */
.proton{
    width: 25%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.neutron{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.electron{
    width: 25%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
/* subheading colours */
.proton h2{
    color: #1638c3;
}
.neutron h2{
    color: #1638c3;
}
.electron h2{
    color: #1638c3;
}
/* image sizes */
.part_1_current img{
    width: 120%;
}
.proton img{
    width: 40%;
}
.neutron img{
    width: 40%;
}
.electron img{
    width: 40%;
}
/* title colours */
.title_current h1{
    font-size: 60px;
}
.title_current h1 i{
    color: #1638c3;
    font-style: normal;
}

/* misc page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* organising the placement of each topic */
.ionisation_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.ionisation_text{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.isotope_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.isotope_text{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.alpha_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.alpha_text{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.beta_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.beta_text{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.gamma_content{
    display: flex;
    flex-direction: row;
}
.gamma_text{
    display: flex;
    flex-direction: column;
    align-self: start;
}
/* changing image sizes */
.ionisation_content img{
    width: 15%;
    height: 15%;
}
.isotope_content img{
    width: 15%;
    height: 15%;
}
.alpha_content img{
    width: 15%;
    height: 15%;
}
.beta_content img{
    width: 15%;
    height: 15%;
}
.gamma_content img{
    width: 15%;
    height: 15%;
}
/* changing heading colours */
.title_misc h1{
    font-size: 60px;
}
.title_misc h1 i{
    color: #1638c3;
    font-style: normal;
}
/* changing subheading colours */
.ionisation h2{
    color: #1638c3;
}
.isotopes h2{
    color: #1638c3;
}
.alpha h2{
    color: #1638c3;
}
.beta h2{
    color: #1638c3;
}
.gamma h2{
    color: #1638c3;
}
.radiation_types h2 i{
    color: black;
    font-style: normal;
    font-size: 60px;
}
/* determining size of text boxes for all info */
.ionisation_text{
    width: 90%;
}
.isotope_text{
    width: 90%;
}
.alpha_text{
    width: 90%;
}
.beta_text{
    width: 90%;
}
.gamma_text{
    width: 90%;
}
/* determining traits for the lists in the radiation information */
.alpha_text li{
    width: 80%;
    margin: auto;
    font-size: x-large;
    font-family: 'Gill Sans MT', sans-serif;
}
.beta_text li{
    width: 80%;
    margin: auto;
    font-size: x-large;
    font-family: 'Gill Sans MT', sans-serif;
}
.gamma_text li{
    width: 80%;
    margin: auto;
    font-size: x-large;
    font-family: 'Gill Sans MT', sans-serif;
}

/* footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.back_next{
    display: flex;
    justify-content: end;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: space-around;
    float: right;
}
/* the following is for the back and next buttoms */
.back_next a{
    font-size: 10px;
    color: #1638c3;
    font-style: normal;
    text-decoration: none;
    background-color: #addaf6;
    padding: 1% 2%;
    border-radius: 25px;
    font-size: medium;
    font-family:  'Trebuchet MS', sans-serif;
}
.back_next a:hover{
    font-size: 10px;
    color: #4a6aec;
    font-style: normal;
    text-decoration: none;
    background-color: #bee3fa;
    padding: 1.2% 2.2%;
    border-radius: 25px;
    font-size: medium;
    font-family:  'Trebuchet MS', sans-serif;
}
/* the following is for the text in the footer */
.credits{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-around;
    align-items: start;
}
.desc{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.img{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.info{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.info a{
    font-size: 10px;
    color: #1638c3;
    font-style: normal;
    text-decoration: none;
    border-radius: 25px;
    font-size: medium;
    font-family:  'Trebuchet MS', sans-serif;
}
.info a:hover{
    font-size: 10px;
    color: #4a6aec;
    font-style: normal;
    text-decoration: none;
    border-radius: 25px;
    font-size: medium;
    font-family:  'Trebuchet MS', sans-serif;
}
.footer_title{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.footer_info{
    display: flex;
    flex-direction: row;
}
/* the following is just for the footer in general */
footer{
    background-color: #70b2db;
    height: 370px;
    margin-top: 150px;
}
footer h1{
    font-size: 20px;
    color:#1638c3;
}
footer h2{
    font-size: 15px;
    color:#1638c3;
    padding-top: 20px;
}
footer p{
    font-size: medium;
    color: white;
}

/* css that affects all pages */
p{
    width: 84%;
    margin: auto;
    margin-bottom: 20px;
    font-size: x-large;
    font-family: 'Gill Sans MT', sans-serif;
}
img{
    margin-left: 8%;
}
body{
    margin-top: 170px;
}