
/* General CSS settings site-wide */

body {
    margin:0;
    background: linear-gradient(#ffffff,#d8e3e3);
    font-family: "Girassol", serif;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Girassol", serif;
}
.title {
    text-align: center;
    font-size: 40px;
}

* {
    box-sizing: border-box;
}



/* Top Navigation Bar CSS */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#000000;
    color: white;
    padding: 15px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin:0;
    padding:0;
}

.nav-links a {
    color: white;
    text-decoration: none;

}

.nav-links a:hover {
color: red;
}

/* Character Design page */

.refmain img {
  width: 100%;
  height:auto;
}

@media screen and (max-width: 500px) {

    .body {
        box-sizing: border-box;
    }

.title {
    font-size: 15px;
}

.refmain {
    width: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-wrapper {
    margin-left: -60px;
    padding: 20px;
}
.swiper-button-prev {
    opacity:0;
}
.swiper-button-next {
    opacity:0;
}
}

/* Character Design Cards */


.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select:none;
    display: block;
    background: white;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.card-list .card-item .card-link:hover{
    border-color: red;
}

.card-list .card-link .card-image {
width:390px;
aspect-ratio: 16 / 9;
object-fit: cover ;
border-radius: 10px;
}

.card-list .card-link .badge {
    color:red;
    padding: 8px 16px;
    font-size: 0.95rem;
    margin: 16px 0 18px;
    background: #fff1d1;
    width:fit-content;
    border-radius: 50px;
}

/* Without Mercy Page */

.withoutmercy-a {
    display:flex;
    align-items: center;
    min-height: 100vh;
    background:#3b3b3b;
    background-size: cover;
    background-position: center;
}

.withoutmercy-a .wmbrief {
    max-width:50rem;
}

.withoutmercy-a .wmbrief h3 {
    font-size: 4rem;
    color:white;
    margin-bottom: -1rem;
}

.withoutmercy-a .wmbrief span {
    font-size: 2.5rem;
    color:rgb(243, 89, 23);
    padding: 1rem 0;
    line-height: 1.5;
}

.withoutmercy-a .wmbrief p {
    font-size: 1.5rem;
    color:white;
    padding: 1rem 0;
    line-height: 1.5;
    margin-top: -1rem;
}

section {
    padding:2rem 5%;
}

.withoutmercy-a .wmimage1 img {
    width:100%;
    padding-left: 6rem;
}

.card-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 100px;
}

.card {
   width: 325px;
   background-color: #f0f0f0;
   border-radius: 8px;
   overflow:hidden;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
   margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content {
padding: 16px;
}

.card-content h4 {
  font-size: 28px ;
 margin-bottom: 8px ;   
}

.card-content p {
    color: grey;
}

@media screen and (min-width:2000px) {
    .withoutmercy-a .wmimage1 img {
    width:60%;
    padding-left: 6rem;
}

.withoutmercy-a {
    min-height: 50vh;
    
}
}

@media screen and (max-width:600px) {

    .withoutmercy-a {
        flex-direction: column;
    }

    .withoutmercy-a .wmimage1 {
        margin-left: -10rem;
    }
    
.withoutmercy-a .wmbrief h3 {
    font-size: 30px;
}

.withoutmercy-a .wmbrief span {
    font-size: 20px;
}

.withoutmercy-a .wmbrief p {
    font-size: 15px;
  
}
}

@media screen and (max-width:1500px) {

    .withoutmercy-a {
    min-height: 30vh;
    }

    .withoutmercy-a .wmimage1 {
        margin-left: -3rem;
    }
    
.withoutmercy-a .wmbrief h3 {
    font-size: 30px;
}

.withoutmercy-a .wmbrief span {
    font-size: 20px;
}

.withoutmercy-a .wmbrief p {
    font-size: 15px;
  
}
}

/* Illustration Breakdown Page */

.ib-title {
    text-align: center;
    font-size: 40px;
    color: white;
}

.ib-section1 {
    align-items: center;
    min-height: 50vh;
    background:#3b3b3b;
    background-size: cover;
    background-position: center;
}

.ib-section2 {
    align-items: center;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
}


.card-ib {
   width: 325px;
   background-color: #413f3f;
   border-radius: 8px;
   overflow:hidden;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
   margin: 20px;
}


.card-content-ib {
padding: 16px;
}

.card-content-ib h4 {
  font-size: 28px ;
 margin-bottom: 8px ;   
 color: white;
}

.card-content-ib p {
    color: white;
}

.illustib {
    width: 325px;
}